/*
 Created By: tracyling98
*/
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    /*overflow-x:hidden;  Hide the x scroll-bar */
    margin:0;
    font-family: Courier New, Helvetica, sans-serif;
    width:100%;
    max-width:100%;
    position:relative;
    bottom:0;
    height: 100%;
    padding:0;
    margin:0;
}
#pageContent{
    position: relative;
    min-height: 100%;
    height:100%;

}
a.anchor {
    display: block;
    position: relative;
    top: -80px; /* Offsets for fixed navigation bars */
    visibility: hidden;
}
/* Navigation Bar */
#navBar{
    top:0;
    background-color: rgb(115, 102, 127); /* Pinkish Purple */
    padding:20px 10px;
    position:fixed;
    width:100%;
    height:20px;
    /*margin:0;*/
}
#navBar .navLinks{
    text-decoration:none;
    color:white;
    width: 100px;
    padding:5px;
    margin:0px 5px;
    font-size:20px;

}
#navBar .navLinks:hover{
    border-bottom-style: solid;
    border-color: white;
}
section{
    margin-bottom:20px;
}
/* The website contents */
#greetings{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    min-height: 200px;
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    line-height:200px;
    background-color:black;
}
#greetings p span{
    color: white;
    vertical-align: middle;
    height:50px;
    line-height:50%;
    display:block;
    border:1px solid red;

}
#tracyContents{
    margin-top:60px;
    margin-right:auto;
    margin-left:auto;
    width:80%;
    border:1px solid pink;
    /*min-height:100%;  Prevent Footer From Coming Up */
    padding: 5px 10px;
    margin-bottom:5px;
}
#about_me{
    background-color:lightgrey;
    padding:5px 20px;
}
/* Technical Skills */
.other_techs{
    display:inline-block;   
    margin:0px 5px;
    border:none;
    background-color:rgb(101, 102, 127);
    border-radius:10px 10px 10px 0px;
    padding:2px 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
/* Work Experience */
.jobs{
    margin:10px 0;
}
.job_title{
    font-weight:bold;
}
.job_title span{
    color:dimgrey;
}

/*  ---- Footer Section ---- */
#footer{
    height: auto;  
    width:100%;
    background-color: rgb(101, 102, 127); /* Purple */
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    position:relative;
    padding:20px 0;

}
.sns_icons{

}
.fa {
    padding:0px 5px;
    font-size: 20px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-linkedin {
    color: white;
}
.fa-envelope{
    color:white;

}
.fa-github{
    color:white;
}


